.bgPale {background-color: #ddd;}
.bubbleColors {background-color: #fff;}

.inputForm {background-color: #fff;}
.button {background-color: #fff;}
.input:focus {background-color: #fff;}
.inputContainer {border: 2px solid #008;}
.input {border: none;}
.button {border: 2px solid #008;}
.input {background-color: #ddd;}
.button:hover {background-color: #ddd;}
.input::placeholder {color: #000;}
