
.messengerInputForm {
    display: grid;
    grid-auto-columns: auto max-content;
    grid-auto-flow: column;
    gap: 0.8em;
    padding: 0.8em;
}

.messengerInput {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    resize: none;
    padding: 1em;
    margin: 0;
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
}

.messengerInput::placeholder {
    text-align: center;
}

.messengerButton {
    border-radius: 5px;
    padding: 1em;
    font-family: inherit;
    font-size: inherit;
}
