
.messengerInputForm {
    display: grid;
    grid-auto-columns: auto max-content;
    grid-auto-flow: column;
    gap: 1em;
    padding: 0.8em 0;
}

.messengerInput {
    box-sizing: border-box;
    width: 100%;
    border: 1px solid #aaa;
    outline: none;
    resize: none; /* Prevent resizing */
    padding: 1em;
    border-radius: 15px; /* Rounded corners inside */
    background-color: #ddd; /* White background */
    font-family: inherit;
}

.messengerInput::placeholder {
    color: #000;
    text-align: center;
}

.messengerInput:focus {
    background-color: #fff; /* Slight background change on focus */
}
