.main {
    padding: 0 0.8em;
    margin: 0 auto;
    max-width: 20cm;
}

[data-sch=dark] .bgPale {background-color: #456;}
.bgPale {background-color: #cde;;}

.stickyBottom {
    position: sticky;
    bottom: 0;
}
