.thinCentered {
    max-width: 20cm;
    margin: 0 auto;
}

.stretch {padding: 1px}

.bgPale {background-color: #ddd;}

.stickyBottom {
    position: sticky;
    bottom: 0;
}

.stickyTop {
    position: sticky;
    top: 0
}

.tmpCenter {
    background-color: var(--bg-norm);
    display: block;
    text-align: center;
    padding: 1em;
}

.link, .links a {
    color: #008;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}
