.thinCentered {
    max-width: 20cm;
    margin: 0 auto;
}

.stretch {padding: 1px}

.stickyBottom {
    position: sticky;
    bottom: 0;
}

.stickyTop {
    position: sticky;
    top: 0
}

.link, .links a {
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.bubbleGroupSpacing {
    padding: 0 0;
    margin: 0.8em;
}
.noBullets li {list-style: none;}
.menu li {list-style: none;}
.menu {
    margin: 0;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}
.bubbleSpacing {
    border-radius: 5px;
    padding: 0.3em 0.8em;
    margin: 0.1em 0;
    display: inline-block;
}
.bubbleWrap {
    max-width: 100%;
    box-sizing: border-box;
    word-wrap: break-word;
}

.erase, .delete {
    text-decoration: none;
    padding: 0 0.2em;
    margin: 0 0.2em;
}
.delete {
    font-style: italic;
    font-weight: bold;
}
.button {
    border-radius: 5px;
    padding: 1em;
    font-family: inherit;
    font-size: inherit;
}
