[data-sch=dark] .main {background-color: #000;}
[data-sch=dark] .bubble {box-shadow: #210 1px 1px 0px 2px;}
[data-sch=dark] .bubble,
[data-sch=dark] .inputForm,
[data-sch=dark] .button,
[data-sch=dark] .input,
[data-sch=dark] .barContainer {background-color: #000;}

.main {background-color: #fff;}
.bubble {box-shadow: #ddd 1px 3px 8px 2px;}
.bubble,
.inputForm,
.button,
.input,
.barContainer {background-color: #fff;}

[data-sch=dark] .name {color: #fd5;}
[data-sch=dark] .event {color: #fd5;}
[data-sch=dark] .erase {background-color: #210; color: #652;}
[data-sch=dark] .delete {background-color: #210; color: #874;}
[data-sch=dark] .moment:hover .erase {background-color: #000; color: #fff;}
[data-sch=dark] .moment:hover .delete {background-color: #000; color: #fff;}
[data-sch=dark] .moment:hover {background-color: #210;}
[data-sch=dark] .button:hover {background-color: #112;}

.name {color: #600;}
.event {color: #600;}
.erase {background-color: #ccc; color: #fff;}
.delete {background-color: #aaa; color: #fff;}
.moment:hover .erase {background-color: #fff; color: #000;}
.moment:hover .delete {background-color: #fff; color: #000;}
.moment:hover {background-color: #eee;}
.button:hover {background-color: #ccc;}

[data-sch=dark] .inputContainer {border-color: #048;}
[data-sch=dark] .input::placeholder {color: #fff;}
[data-sch=dark] .button {border-color: #048; color: inherit;}
[data-sch=dark] .link, [data-sch=dark] .links a {color: #acf;}

.inputContainer {border: 2px solid #048;}
.input {border: none;}
.input::placeholder {color: #000;}
.button {border: 2px solid #048; color: inherit;}
.link, .links a {color: #028;}
.bubbleGroupSpacing {
    padding: 0 0;
    margin: 0 0.8em;
}
.bubbleGroupSpacing:last-child {
    margin-bottom: 0.8em;
}
.time {
    margin: 0;
    padding: 0 0.8em;
}
.bar {
    margin: 0;
    padding: 0.8em;
}
.inputForm {
    gap: 0.8em;
    padding: 0.8em;
}
.bubble {
    padding: 0.3em 0.8em;
    margin: 0.1em 0;
}
.erase, .delete {
    padding: 0 0.2em;
    margin: 0 0.2em;
}
.input {
    padding: 0.8em 1em;
    margin: 0;
}
.button {
    padding: 0.8em 1em;
}

.link, .links a {
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}
.noBullets li {list-style: none;}
.bar li {list-style: none;}
.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
}
.bubble {
    border-radius: 5px;
    display: inline-block;
    font-family: inherit;
    max-width: 100%;
    box-sizing: border-box;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.erase, .delete {
    text-decoration: none;
}
.delete {
    font-weight: bold;
}
.chat, .barContainer {padding: 1px}

.layout {
    display: grid;
    grid-template-rows: max-content auto;
    grid-template-columns: 1fr;
    grid-template-areas: "bar" "main";

    max-width: 20cm;
    margin: 0 auto;
    height: 100vh;
}
.bar {grid-area: bar}
.bar + main {grid-area: main}

.main {
    display: grid;
    grid-auto-rows: auto max-content;
    overflow: scroll;
}

.chat {
    height: 100%;
    overflow: scroll;
}

.inputForm {
    display: grid;
    grid-auto-columns: auto max-content;
    grid-auto-flow: column;
}

.inputContainer {
    border-radius: 5px;
}

.button {
    border-radius: 5px;
    font-family: inherit;
    font-size: inherit;
}
.input {
    box-sizing: border-box;
    width: 100%;
    resize: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: inherit;
}
.input::placeholder {
    text-align: center;
}

.time {
    font-size: inherit;
    text-align: right;
    font-weight: normal;
}
