[data-sch=dark] .main {background-color: #000; color: #fff}
[data-sch=dark] .bubble {box-shadow: none;}
[data-sch=dark] .bubble {background-color: #303438;}
[data-sch=dark] .inputForm,
[data-sch=dark] .bar {background-color: #000;}

.main {background-color: #f0f4f8;}
.inputForm,
.bar {background-color: #fff;}
.bubble {box-shadow: #dde 1px 1px 2px 0;}
.bubble {background-color: #fff;}

[data-sch=dark] .event {color: #b0b4b8;}
[data-sch=dark] .erase {background-color: #707478; color: #fff0;}
[data-sch=dark] .delete {background-color: #000; color: #fff;}
[data-sch=dark] .bubbleTop {color: #808488;}

.event {color: #123;}
.erase {background-color: #c0c4c8; color: #fff0;}
.delete {background-color: #fcc; color: #000;}
.bubbleTop {color: #789;}

.moment:not(:focus) .erase {
    display: inline-block;
    width: 2px;
    height: 1em;
    transform: translateY(0.1em) scaleY(1.4);
    overflow: hidden;
    margin: 0;
}

[data-sch=dark] .moment:focus {background-color: #000;}
[data-sch=dark] .moment:focus .erase {background-color: #000;}
[data-sch=dark] .moment:focus .delete {background-color: #000;}
[data-sch=dark] .moment:focus .bubble {background-color: #000;}
[data-sch=dark] .moment:focus .erase {color: #fff;}
[data-sch=dark] .moment:focus .delete {color: #fff;}
[data-sch=dark] .moment:focus .event {color: #fff;}
[data-sch=dark] .moment:focus .erase,
[data-sch=dark] .moment:focus .delete {box-shadow: #bbb 0 0 0 2px;}
[data-sch=dark] .moment:focus .bubble {box-shadow: #bbb 0 0 0 2px;}
[data-sch=dark] .moment:focus .bubbleTop {color: #fff;}
[data-sch=dark] .input:hover,
[data-sch=dark] .button:hover {background-color: #000;}

.moment:focus {background-color: #fff;}
.moment:focus .erase {background-color: #fff; color: #000;}
.moment:focus .delete {background-color: #fff; color: #000;}
.moment:focus .erase,
.moment:focus .delete {box-shadow: #888 0 0 0 2px;}
.moment:focus .bubble {box-shadow: #888 0 0 0 2px;}
.moment:focus .bubble {background-color: #fff;}
.moment:focus .bubbleTop {color: #000;}
.input:hover,
.button:hover {background-color: #fff;}

[data-sch=dark] .button,
[data-sch=dark] .input {background-color: #123;}
[data-sch=dark] .input {border-color: #456;}
[data-sch=dark] .input::placeholder {color: #789;}
[data-sch=dark] .button {border-color: #68a; color: #acf;}
[data-sch=dark] .link,
[data-sch=dark] .links a {text-decoration-color: #68a; color: #acf;}

.input,
.button {background-color: #f0f4f8;}
.button {color: #026;}
.link, .links a {color: #028;}
.input,
.button {border: 2px solid #248;}

.moment {
    padding: 0.6em 0;
    margin: 0;
}
.bubbleTop {
    padding: 0 0;
    margin: 0 0.8em;
}
.bubbleGroup {
    padding: 0 0;
    margin: 0 0.8em;
}
.moreTopButton, .moreBottomButton {
    margin: 0.8em;
}
.inputForm {
    gap: 0.8em;
    padding: 0.8em;
}
.bubble {
    padding: 0.2em 0.8em 0.2em 0.4em;
    margin: 0.1em 0;
}
.bubbleGroup li:only-child .bubble {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}
.bar {
    padding: 0 0.8em;
}
.barList {
    margin: 0;
    padding: 0;
}
.barList a {
    padding: 0.6em 1.2em;
    display: inline-block;
}
.barTitle {
    margin: 0;
    padding: 2em 0 1em 0.8em;
}
.erase, .delete {
    padding: 0;
    margin: 0 2px;
}
.input {
    padding: 0.8em 1em;
    margin: 0;
}
.button {
    padding: 0.8em 1em;
}

.link, .links a {
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}
.noBullets li {list-style: none;}
.barList li {list-style: none;}
.bubble {
    display: inline-block;
    font-family: inherit;
    max-width: 100%;
    box-sizing: border-box;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.erase, .delete {
    text-decoration: none;
}
.delete {
    font-weight: bold;
}
.chat {padding: 1px}

.hamburger {
    position: absolute;
    top: 1em;
    right: 1em;
    padding: 1em;
}
@media screen and (max-width: 25cm) {
    .bar {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        overflow: scroll;
        transform: translateX(-100%);
        transition: transform 0.2s;
    }
    .hamburger:checked + .bar,
    .bar:focus-within {
        transform: translateX(0);
    }
    .inputForm {
        position: sticky;
        bottom: 0;
    }
}
@media screen and (min-width: 25cm) {
    .layout {
        display: grid;
        grid-auto-columns: 8cm auto;
        grid-auto-flow: column;

        max-width: 30cm;
        margin: 0 auto;
        height: 100vh;
    }
    .main {
        display: grid;
        grid-auto-rows: auto max-content;
        overflow: scroll;
    }
    .chat {
        height: 100%;
        overflow: scroll;
    }
    .hamburger:not(:focus) {
        transform: translateY(-200%);
    }
    .hamburger {
        transition: transform 0.1s;
    }
}
.inputForm {
    display: grid;
    grid-auto-columns: auto max-content;
    grid-auto-flow: column;
}

.bubble {border-radius: 4px 1em 1em 4px;}
.button {border-radius: 1.5em;}
.input {border-radius: 1.5em;}

.button {
    font-family: inherit;
    font-size: inherit;
}
.input {
    font-family: inherit;
    font-size: inherit;
}
.bubbleTop {
    font-size: 0.9em;
    font-weight: normal;
}
.barTitle {
    font-size: 1.4em;
}

.input {
    box-sizing: border-box;
    width: 100%;
    resize: none;
}
